body{
    padding: 0px;
    margin: 0px;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
.container>header{
    background-image: url(../IMG/123.png);
    background-size: 100% 100%;
    height: 30%;
    padding-bottom: 50%;
}
.container>nav{
    line-height: 50px;
    text-align: center;
    font-variant: small-caps;
    background-color: rgb(112, 105, 0);
}
#menucon{
    width: 100px;
    height: 35px;
    background-color: rgb(112, 105, 0);
    margin: 50px auto;
}
ul.menucon > li{
    list-style: none;
    float: left;
    position: relative;
}
ul.menucon > li > a{
    text-decoration: none;
    color: white;
    padding: 0px 15px 0px 15px;
    line-height: 40px;
    display: block;
}
ul.menucon li a:hover{
    background: yellowgreen;
    color: white;
    transition: ease-in 0.1s;
    -moz-transition: ease-in 0.1s;
    -webkit-transition: ease-in 0.1s;
}
ul.submenu{
    width: 250px;
    background: rgb(112, 105, 0);
    min-height: 19px;
    display: none;
}
ul.submenu li{
    list-style: none;
}
ul.submenu li a{
    color: white;
    text-decoration: none;
    display: block;
    border-top: 1px solid white;
    line-height: 35px;
    text-indent: 5px;
    background-color: rgb(112, 105, 0);
}
ul.submenu li a:hover{
    transition: ease-in 0.1s;
    -moz-transition: ease-in 0.1s;
    -webkit-transition: ease-in 0.1s;
}
ul.menucon > li:hover ul.submenu{
    display: block;
}
.container>article{
    max-height: 2500px;
    width: 75%;
    height: 75%;
    background-color: white;
    float: left;
}
.container>aside{
    width: 25%;
    float: right;
    min-height: 1500px;
    background-color:white;
}
.container>footer{
    border-top: 5px double rgb(112, 105, 0);
    line-height: 40px;
    background-color: lightcyan;
    text-align: center;
    font-variant: small-caps;
    clear: both;
}
.prod>.price{
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color:rgb(112, 105, 0);
}
.top-right{
    position: absolute;
    top: 0px;
    right: 1px;
    border-bottom-left-radius: 30px;
    background-color: rgb(112, 105, 0);
    box-shadow: 3px 3px 2px rgb(112, 105, 0);
    padding:  10px 15px 10px 25px; 
}
.top-right a{ 
    text-decoration: none;
    color: white;
}
.vmenu a{
    background: url(../IMG/sao.png) no-repeat left center;
    display: block;
    border-bottom: 1px dotted rgb(112, 105, 0);
    color: rgb(112, 105, 0);
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
}
.vmenu a:hover{
    background: url(../IMG/mui\ \ ten.png) no-repeat left center;
    display: block;
    border-bottom: 1px dotted rgb(112, 105, 0);
    color: rgb(112, 105, 0);
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
}
.menu{
    width: 930px;
    height: 43px;
    background: lightgreen;
    margin: 47px;
}
.menu>ul>li{
    display: inline-block;
    z-index: 1;
}
.menu>ul>li>a{
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    color: white;
    padding: 0 10px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu>ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: rgb(112, 105, 0);
    text-align: center;
}
.menu>ul>li:hover>ul{
    display: block;
    z-index: 1;
}
.menu ul ul a:hover{
    background-color: yellowgreen;
    color: white;
}
#amenu{
    margin: 0 auto;
    width: 750px;
}
#article{
    width: 100%;
    height: 356px;
    float: left;
}
#image img{
    width: 25%;
    padding: 10px;
    float: right;
}
.menu{
    background-color: rgb(112, 105, 0);
}
.form-button{
    background-color: rgb(168, 168, 243);
}




